
html,
body {
}
#mynetwork {
  width: 900px;
  height: 600px;
  border: 1px solid lightgray;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
}

.movimientos {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  overflow: scroll;
}